.table{
	
	border-radius: 4px;
	margin: auto;
}

.table th{
	background-color: #4CAF50;
	 padding: 8px;
}

.table td{
	 padding: 8px;
}

table,th,td{
	border: 1px solid #ddd;
	border-collapse: collapse;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: #ddd;}